@import url('https://fonts.googleapis.com/css?family=Oswald:700');

h1{
	color: #70DDB4;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	position: center;
}

ol{
	font-size: 2em;
	font: #70DDB4;
}

.teamOne{
	background-color: #12563D;
}

.teamTwo{
	background-color: #12563D;
}