@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

h1{
	color: #70DDB4;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	position: center;
}

ol{
	font-size: 4vh;
	font-family: 'Patua One', cursive;
}

.vs{
	font-family: 'Berkshire Swash', cursive;
	font-size: 12vh;
}

button{
	font-family: 'Oswald', sans-serif;
}