html{
	background-color: white;
}

body{
	background-color: black;
	height: 99vh;
}

header{
	grid-area: header;
	background-color: #333439;
	margin: 6px;
	display: grid;
	justify-content: center; 
	padding-bottom: 10px;
}

section{
	grid-area: input;
	display: inline-flex;
	justify-content: center;
	justify-content: end;
}

.container {
	margin: 6px;
}

.form-group{
	display: flex;
	justify-content: right;
}

.player-input{
	width: 268px;
	height: 40px;
	margin-right: 6px;
	font-size: 2em;
}

ol{
	color: #70DDB4;
	background-color: #12563D;
	padding-left: 60px;

  	
}

footer{
	display: flex;
	justify-content: center;
	margin: -6px;
}


main{
	margin: 6px;
}
