html{
	background-color: white;
}

body{
	background-color: black;
	height: 98vh;
}

header{
	grid-area: header;
	background-color: #333439;
	margin: 6px;
	display: grid;
	justify-content: center; 
	padding-bottom: 10px;
}

.container {
	margin: 6px;
}

.form-group{
	display: flex;
	justify-content: right;
}

.player-input{
	width: 266px;
	height: 40px;
	margin-right: 6px;
	font-size: 2em;
}

ol{
	color: #70DDB4;
	background-color: #12563D;

  	
}

footer{
	display: flex;
	justify-content: center;
}
