html{
	background-color: black;
}

body{
	background-color: black;
}

header{
	display: flex;
	justify-content: center; 
}

main{
	display: inline-flex;
	justify-content: space-evenly;
}

.container {
	padding: 10px
}

.form-group{
	display: flex;
	justify-content: right;
}

.player-input{
	width: 268px;
	height: 40px;
	margin-right: 6px;
	font-size: 2em;
}

ol{
	color: #70DDB4;

	padding-left: 60px;

  	
}

footer{
	display: flex;
	justify-content: center;
	background-color: black;


}

