.container {
  display: grid;
  grid-template-columns: 5px 24fr 5px;
  grid-template-rows: 12vh 2vh 1fr 7vh;
  grid-template-areas: 

  ". header ."
  ". input ."
  ". team ."
  ". randomiser .";
}

.randomiser{
	grid-area: randomiser;
}

footer{
	grid-area: randomiser;
}

section{
	grid-area: input;
}

main{
	grid-area: team;
}